/*button*/
.button-sidebar {
    -fx-text-fill: #b7c0cd;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-padding: 10 20 10 20;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.button-sidebar:hover{
    -fx-text-fill: white;
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: white;
}

.button-sidebar.active {
    -fx-text-fill: white;
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: white
}

.requestButton{
    -fx-background-color: #4472DD;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 8 10 8 10
}

.requestButton:hover{
    -fx-background-color: #2D4C93;
}

.confirmButton{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
}

.confirmButton:hover{
    -fx-background-color: #226592;
}

.btn-cancel{
    -fx-background-color: #FF5370;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-cancel:hover{
    -fx-background-color: #FF869A;
}

.btn-detail{
    -fx-background-color: #00BCD4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-pref-width: 100px;
}

.btn-detail:hover{
    -fx-background-color: #08E3FF;
    -fx-text-fill: black;
}

.btn-reason{
    -fx-background-color: #FF9F14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-pref-width: 100px;
}

.btn-reason:hover{
    -fx-background-color: #FFC878;
    -fx-text-fill: black;
}

.browseButton{
    -fx-background-color: #2ED8B6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.browseButton:hover{
    -fx-background-color: #59E0C5;
}

.refuseButton{
    -fx-background-color: #FF5370;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.refuseButton:hover{
    -fx-background-color: #FF869A;
}

.exportButton{
    -fx-background-color: #00BCD4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.exportButton:hover {
    -fx-background-color: #08E3FF;
}

.btnApproveBorrowRequest{
    -fx-background-color: #00BCD4;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btnApproveBorrowRequest:hover{
    -fx-background-color: #007D8D;
    -fx-text-fill: white;
}

/*end button*/

/*table*/
.table-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10;
    -fx-border-radius: 7;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.table-view .column-header-background {
    -fx-background-radius: 7 7 0 0;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 35px;
}

.table-view .label {
    -fx-background-color: white;
    -fx-text-fill: Black;
    -fx-font-weight: bold;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-border-color: transparent;
}


.table-view .table-cell {
    -fx-alignment: center;
}

.table-view .table-cell.header-cell {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
}


.table-view .column-header-background {
    -fx-background-color: #12385e;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header,
.table-view .column-header .table-column,
.table-view .column-header .label {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.table-row-cell:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-cell:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.default-color0.chart-bar {
    -fx-bar-fill: #1273E0;
    -fx-background-radius: 5 5 0 0;
}

.selected {
    -fx-background-color: #dee2e6;
    -fx-font-weight: bold;
}

.scheduleTable.table-view .table-cell {
    -fx-border-color: #dee2e6;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-style: solid;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.scheduleTable.table-view .table-row-cell {
    -fx-cell-size: 158.4px;
}

.scheduleTable.table-view .table-row-cell:odd {
    -fx-background-color: white;
    -fx-border-color: #dee2e6;
    -fx-border-width: 0 1px 1px 0;
}


.scheduleTable.table-view .column-header, .table-view .filler {
    -fx-border-color: #dee2e6;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-style: solid;
}
/*end table*/

/*manager*/
.context-menu {
    -fx-background-color: #ffffff;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0.2, 0, 2);
    -fx-background-radius: 6px;
    -fx-padding: 5;
    -fx-pref-width: 200px;
}

.manager_menu-item{
    -fx-padding: 10 20;
    -fx-font-size: 13px;
    -fx-font-weight: Bold;
    -fx-text-fill: #1f2c4c;
}

.manager_menu-item:hover .label {
    -fx-text-fill: black;
}

/*End manager*/

/*dashboard*/
.dashboard_pagination .number-button {
    -fx-min-width: 25px !important;
    -fx-pref-width: 25px !important;
    -fx-min-height: 25px !important;
    -fx-pref-height: 25px !important;
    -fx-font-size: 8px !important;
}

.dashboard_pagination .left-arrow-button,
.dashboard_pagination .right-arrow-button {
    -fx-min-width: 25px !important;
    -fx-pref-width: 25px !important;
    -fx-min-height: 25px !important;
    -fx-pref-height: 25px !important;
    -fx-font-size: 8px !important;
}
/*End dashboard*/

/*device*/
.device-filter{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #c5c4c4;
}

.device-table {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.table-row-cell:hover {
    -fx-background-color: #d0f0ff;
    -fx-text-fill: black;
}

.device_change-status{
    -fx-background-color: white;
    -fx-border-color: #c6c3c3;
    -fx-border-radius: 5px;
}

.custom-button:hover Text{
    -fx-fill: white;
}

.custom-button:hover SVGPath {
    -fx-fill: white;
}

.device_table .column-header-background{
    -fx-background-color: #EEF1F6;
}

.device_button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.device_button:hover{
    -fx-background-color: #0069D9;
}
/*End device*/

/*pagination*/
.pagination .control-box .number-button {
    -fx-background-radius: 20;
    -fx-background-color: #e0f0ff;
    -fx-text-fill: #0066cc;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-min-width: 35px;
    -fx-pref-width: 35px;
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.2, 0, 1);
}

.pagination .control-box .left-arrow-button,
.pagination .control-box .right-arrow-button {
    -fx-background-radius: 20;
    -fx-background-color: #dfefff;
    -fx-padding: 8;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-min-width: 35px;
    -fx-pref-width: 35px;
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0.1, 0, 1);
}

.pagination .control-box .left-arrow-button:hover,
.pagination .control-box .right-arrow-button:hover{
    -fx-background-color: #cce5ff;
    -fx-text-fill: #004080;
}

.pagination .control-box .number-button:hover {
    -fx-background-color: #cce5ff;
    -fx-text-fill: #004080;
}

.pagination .control-box .number-button:selected,
.pagination .control-box .number-button:selected:hover {
    -fx-background-color: #4099ff;
    -fx-text-fill: white;
}
.vbox_background_center{
    -fx-background-image: url("/img/img5_UTC2.jpg");
}
.vbox_background_right{
    -fx-background-image: url("/img/img-utc.jpg");
    -fx-fill: rgba(255, 255, 255, 0.5);
}
#tempPasswordField {
    -fx-background-radius: 50;
    -fx-pref-height: 53;
    -fx-pref-width: 419;
    -fx-font-family: "Cambria";
    -fx-font-size: 20;
}
.transparent-notification {
    -fx-background-color: transparent; /* Đảm bảo nền trong suốt */
    -fx-background-insets: 0; /* Loại bỏ insets gây màu trắng */
    -fx-padding: 0; /* Loại bỏ padding */
    -fx-border-color: transparent; /* Loại bỏ viền */
    -fx-text-fill: #ff0000; /* Màu chữ đỏ để nổi bật */
    -fx-font-size: 18px; /* Điều chỉnh kích thước chữ */
}
/*end pagination*/










